<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', '{{ site.analytics.google.tracking_id }}', 'auto');
  ga('send', 'pageview');
</script>

<script>
  /**
  * Funkcja śledząca kliknięcie linku wychodzącego w Analytics.
  * Ta funkcja wykorzystuje prawidłowy URL jako argument i używa go
  * jako etykiety zdarzenia. Wybranie metody transportu 'beacon' umożliwia wysłanie działania
  * za pomocą 'navigator.sendBeacon' w obsługiwanej przeglądarce.
  */
  var trackOutboundLink = function(url) {
     ga('send', 'event', 'outbound', 'click', url, {
       'transport': 'beacon',
       'hitCallback': function(){document.location = url;}
     });
  }
  </script>
