---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

@import "minimal-mistakes";

#koper-logo{
    align-self: left;
    max-height: 50px;
    max-width: 50px;
    margin: 0 18px 0 0;
}

.site-title{
    align-self: auto;
}